<main>
	<h1>Minor Web Design & Development</h1>
	<form method="post" enctype="application/x-www-form-urlencoded" action="/" id="formID">
		<ul>
			<li><label for="naam">Naam</label></li>
			<li><input type="text" name="naam" required></li>
			<li><label for="studentnummer">Studentnummer</label></li>
			<li><input type="number" name="studentnummer" min="1" max="900000000" required></li>
		</ul>
		<fieldset>
			<legend>CSS to the rescue</legend>
			<input type="text" name="vaknaam" id="vakken" value="CSS" required>
			<ul>
				<li>
					<label for="docenten">Docent</label>
					<select name="docenten" required>
						<option value="Sanne">Sanne</option>
						<option value="Vasilis">Vasilis</option>
					</select>
				</li>
				<li>
					<label for="weken ">Weken waarin je het vak volgde</label>
					<select name="weken" required>
						<option value="week 1-4">Week 1 t/m 4</option>
						<option value="week 5-8">Week 5 t/m 8</option>
						<option value="week 9-12">Week 9 t/m 12</option>
						<option value="week 13-16">Week 13 t/m 16</option>
					</select>
				</li>
				<li>
					<h2>Beoordeel de volgende vragen op een schaal van 1 t/m 10</h2>
				</li>
				<li>
					<label for="lesstof">Wat vond je van de lesstof</label>
					<input type="number" name="lesstof" min="1" max="10" id="cijfers" value="1" required>
				</li>
				<li>
					<label for="uitleg">Wat vond je van de uitleg</label>
					<input type="number" name="uitleg" min="1" max="10" id="cijfers" value="1" required>
				</li>
				<li>
					<label for="eigen">Eigen inzicht</label>
					<input type="number" name="eigen" min="1" max="10" id="cijfers" value="1" required>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Progressive webapps</legend>
			<input type="text" name="vaknaam" id="vakken" value="Progressive webapps" required>
			<ul>
				<li>
					<label for="docenten">Docent</label>
					<select name="docenten" required>
						<option value="Sanne">Joost</option>
						<option value="Vasilis">Koop</option>
					</select>
				</li>
				<li>
					<label for="weken ">Weken waarin je het vak volgde</label>
					<select name="weken" required>
						<option value="week 1-4">Week 1 t/m 4</option>
						<option value="week 5-8">Week 5 t/m 8</option>
						<option value="week 9-12">Week 9 t/m 12</option>
						<option value="week 13-16">Week 13 t/m 16</option>
					</select>
				</li>
				<li>
					<h2>Beoordeel de volgende vragen op een schaal van 1 t/m 10</h2>
				</li>
				<li>
					<label for="lesstof">Wat vond je van de lesstof</label>
					<input type="number" name="lesstof" min="1" max="10" id="cijfers" value="1" required>
				</li>
				<li>
					<label for="uitleg">Wat vond je van de uitleg</label>
					<input type="number" name="uitleg" min="1" max="10" id="cijfers" value="1" required>
				</li>
				<li>
					<label for="eigen">Eigen inzicht</label>
					<input type="number" name="eigen" min="1" max="10" id="cijfers" value="1" required>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Browser technlogies</legend>
			<input type="text" name="vaknaam" id="vakken" value="Browsing technologies" required>
			<ul>
				<li>
					<label for="docenten">Docent</label>
					<select name="docenten" required>
						<option value="Sanne">Robert</option>
						<option value="Vasilis">Peter-Paul</option>
					</select>
				</li>
				<li>
					<label for="weken ">Weken waarin je het vak volgde</label>
					<select name="weken" required>
						<option value="week 1-4">Week 1 t/m 4</option>
						<option value="week 5-8">Week 5 t/m 8</option>
						<option value="week 9-12">Week 9 t/m 12</option>
						<option value="week 13-16">Week 13 t/m 16</option>
					</select>
				</li>
				<li>
					<h2>Beoordeel de volgende vragen op een schaal van 1 t/m 10</h2>
				</li>
				<li>
					<label for="lesstof">Wat vond je van de lesstof</label>
					<input type="number" name="lesstof" min="1" max="10" id="cijfers" value="1" required>
				</li>
				<li>
					<label for="uitleg">Wat vond je van de uitleg</label>
					<input type="number" name="uitleg" min="1" max="10" id="cijfers" value="1" required>
				</li>
				<li>
					<label for="eigen">Eigen inzicht</label>
					<input type="number" name="eigen" min="1" max="10" id="cijfers" value="1" required>
				</li>
			</ul>
		</fieldset>
		<div id="errorMessageDiv" class="hidden">
			<p>Please, fill the form.</p>
		</div>
		<div class="button">
			<input type="submit" value="Verstuur" id="button">
		</div>
	</form>
</main>